<h1>This is my contact information!</h1>

<p>My name is <%= contact.name %> </p>
<p>My phone number is <%= contact.phone%></p>
<p>You can email me at <%=contact.email  %></p>
<p>As for a fax number <%=contact.fax  %></p>
<p>But I hope you will check out my website: <%=contact.site%></p>